body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-top: 5px solid hsla(0, 100%, 65%, 1);
    margin: 0; padding: 0;
  }
  header {
    background-color: hsla(0, 100%, 65%, 1);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
  }
  main {
    max-width: 600px;
    margin: auto;
  }

  body{
    background-color: #1c1c1c;
  }

  p{
    color:rgb(255, 255, 255);
  }